{% extends "@alchemy_embed/iframe/layout.html.twig" %}
{% set local_title = embedMedia.title %}
{% block stylesheet %}
    {% if document_player == 'flexpaper' %}
        <link type="text/css" rel="stylesheet" href="/assets/vendors/alchemy-embed-medias/players/flexpaper/skin/flexpaper.css">
    {% endif %}
{% endblock %}
{% block footerScripts %}
    <script>
        var envConfiguration = (function () {
            return {
                locale: '{{app.locale}}',
                resource: {
                    width: {{embedMedia.dimensions.width}},
                    height: {{embedMedia.dimensions.height}},
                    {#
                        swf params need httpscheme
                    #}
                    url: "{{ app.request.scheme }}:{{embedMedia.url}}"
                }
            };
        })();
    </script>
    <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/common.js"></script>
    {% if document_player == 'flexpaper' %}
        <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/document_flexpaper.js"></script>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="document-player"></div>
{% endblock %}