{% extends "@alchemy_embed/iframe/layout.html.twig" %}

{% block stylesheet %}
    {% if video.player == 'videojs' %}
    <link type="text/css" rel="stylesheet" href="/assets/vendors/alchemy-embed-medias/players/videojs/skin/videojs.css">
    {% else %}
    <link type="text/css" rel="stylesheet" href="/assets/vendors/alchemy-embed-medias/players/flowplayer/skin/flowplayer.css">
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if video.player == 'videojs' %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/players/videojs/videojs-ie8.js"></script>
    <![endif]-->
    {% endif %}
{% endblock %}

{% block footerScripts %}
    <script>
        var envConfiguration = (function () {
            return {
                locale: '{{app.locale}}',
                isStandalone: (window === window.top) ? true : false,
                resource: {
                    width: {{embedMedia.dimensions.width}},
                    height: {{embedMedia.dimensions.height}},
                    autoplay: {{ video.autoplay |json_encode|raw }},
                    currentTime: {{embedMedia.currentTime}},
                    fitIn: true, // force video to downScale / upscale
                    aspectRatio: '{{ embedMedia.dimensions.width }}:{{ embedMedia.dimensions.height }}',
                    coverUrl: "{{embedMedia.coverUrl}}",
                    playbackRates: {{ video['available_speeds']|json_encode|raw }},
                    sources: [{% for source in  embedMedia.source %}{
                        url: "{{source.url}}",
                        type: "{{source.type}}"
                    }{% if not loop.last %},{% endif %}{% endfor %}],
                    tracks: [{% for track in  embedMedia.track %}{
                        src: "{{track.src|raw}}",
                        kind: "{{track.kind}}",
                        srclang: "{{track.srclang}}",
                        label: "{{track.label}}",
                        default: {{track.default|json_encode}}
                    }{% if not loop.last %},{% endif %}{% endfor %}]
                }
            };
        })();
    </script>
    <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/common.js"></script>
    {% if video.player == 'videojs' %}
        <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/video_videojs.js"></script>
    {% else %}
        <script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/video_flowplayer.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="video-player"></div>
{% endblock %}
