{% extends "@alchemy_embed/iframe/layout.html.twig" %}
{% set local_title = embedMedia.title %}
{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="/assets/vendors/alchemy-embed-medias/players/videojs/skin/videojs.css">
    {#<link type="text/css" rel="stylesheet" href="/assets/vendors/alchemy-embed-medias/players/flowplayer/skin/flowplayer.css">#}
{% endblock %}
{% block javascript %}{% endblock %}
{% block footerScripts %}
<script>
    var envConfiguration = (function () {
        return {
            locale: '{{app.locale}}',
            resource: {
                width: {{embedMedia.dimensions.width}},
                height: {{embedMedia.dimensions.height}},
                autoplay: false,
                fitIn: true, // force video to downScale / upscale
                aspectRatio: '{{ embedMedia.dimensions.width }}:{{ embedMedia.dimensions.height }}',
                coverUrl: "{{embedMedia.coverUrl}}",
                sources: [{% for source in  embedMedia.source %}{
                    url: "{{source.url}}",
                    type: "{{source.type}}"
                }{% if not loop.last %},{% endif %}{% endfor %}]
            }
        };
    })();
</script>
<script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/common.js"></script>
{#<script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/flowplayer.js"></script>#}
<script type="text/javascript" src="/assets/vendors/alchemy-embed-medias/videojs.js"></script>
{% endblock %}
{% block content %}
    <div class="video-player"></div>
{% endblock %}