<!DOCTYPE html>
<html lang="{{ app['locale'] }}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<div>
    <iframe width="560" height="315" src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
    <iframe width="100%" height="315" src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
    <iframe width="100" height="315" src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
    <iframe src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
    <iframe width="50%" height="50%" src="{{ embedUrl }}" frameborder="0" allowfullscreen></iframe>
    <hr>
</div>
</body>
</html>
